{% set well_class = "well-minor" %}
{% extends "base.html" %}


{% block main %}

    <form id="main-form" method="post" onsubmit="return false">

        <div class="row">
            <div class="col-md-12">
                <div class="form">

                    <div class="text-center main-header">
                        Оптимизация тестового покрытия
                    </div>

                    <div class="form-group">
                        {% for file_name in file_names %}
                                <div class="radio radio-primary">
                                    <input type="radio" name="radio-file" id="{{ file_name }}" value="{{ file_name }}"
                                    checked=1>
                                    <label for="{{ file_name }}">
                                        {{ file_name }}
                                    </label>
                                </div>
                        {% endfor %}

                    </div>

                    <div style="overflow: auto">

                        <div class="pull-right" id="loading"></div>
                        <label class="pull-right" id="loading-time"></label>
                        <button id="process-btn" class="btn btn-primary pull-left" name="process">
                            Оптимизировать
                        </button>
                    </div>


                    <div id="stats" class="stat-area" style="display: none">
                        <div class="slider-container">
                            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0"
                               data-slider-max="100" data-slider-step="1" data-slider-value="90"
                               style="display: block; width: 100%"/>
                        </div>
                        <div class="grey-line" style="margin-top: 10px"></div>
                        <div class="row small-text-important" style="font-size: 16px">
                            <div class="col-xs-5">
                                <div><label >Ускорение: </label></div>
                                <div style="font-size:24px"><label id="speed-up"></label><label>x</label></div>
                            </div>
                            <div class="col-xs-7" style="overflow: auto">
                                <div class="text-right"><label>Абс. покрытие: </label></div>
                                <div class="text-right" style="font-size: 24px"><label id="percentage-abs"></label></div>
                            </div>
                        </div>
                        <div class="grey-line" style="margin-bottom: 10px;"></div>
                        <div class="row">

                        </div>
                        <table style="width: 100%">
                            <tr>
                                <td>Покрыто строк</td>
                                <td class="text-right" id="lines-covered"></td>
                            </tr>
                            <tr>
                                <td>Отн. покрытие</td>
                                <td class="text-right" id="percentage-rel"></td>
                            </tr>

                            <tr>
                                <td>Всего строк</td>
                                <td class="text-right" id="total-lines"></td>
                            </tr>
                            <tr>
                                <td>Всего запусков</td>
                                <td class="text-right" id="total-runids"></td>
                            </tr>

                            <tr>
                                <td>Макс. покрытие</td>
                                <td class="text-right" id="max-lines"></td>
                            </tr>
                            <tr>
                                <td>Макс. покрытие</td>
                                <td class="text-right" id="max-percent"></td>
                            </tr>
                            <tr>
                                <td>Время на оптимизацию</td>
                                <td class="text-right" id="time-taken"></td>
                            </tr>
                        </table>

                    </div>

                </div><!-- form -->
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}{{ super() }}
    <script>

var accumulations = [];
var total_lines = 0;
var total_run_ids = 0;
var max_coverage_lines = 0;
var max_percentage = 0;
var speed_up = 0;

var cutoff = 0;

var timer = null, elapsed = 0;
var slider_pos = 90;

jQuery(function($) {

    function format_seconds(elapsed) {

        var minutes = Math.floor(elapsed / 60);
        var seconds = elapsed - minutes * 60;

        var minutes_str = minutes.toString();
        if (minutes_str.length == 1) {
            minutes_str = '0' + minutes_str;
        }

        var seconds_str = seconds.toString();
        if (seconds_str.length == 1) {
            seconds_str = '0' + seconds_str;
        }

        return minutes_str + ":" + seconds_str;
    }

    function update_timer() {
        // NO format string functions, really?..
        elapsed += 1;
        var timestr = format_seconds(elapsed);
        $("#loading-time").text(timestr);
    }

    function get_run_ids_by_slider_pos(slider_pos){
        // amount of run_ids, by which we can get a value of covered lines
        return Math.round((accumulations.length - 1) / 100 * slider_pos) + 1;
    }

    $('#process-btn').click(function() {
        $('#process-btn').prop("disabled", true);
        var fn = $('input[name=radio-file]:checked', '#main-form').val();
        $("#loading").show();
        $("#loading-time").show().text('00:00');
        elapsed = 0;
        timer = setInterval(update_timer, 1000);
        $.post('/calc', {filename: fn}, function(_data) {
            if (!_data) {
                $('#process-btn').prop("disabled", false);
                $("#loading").hide();
                $("#loading-time").hide();
                timer = clearInterval(timer);
                return;

            }

            if ((_data[0] == 0) && (_data[0] == 0)){
                $('#process-btn').prop("disabled", false);
                $("#loading").hide();
                $("#loading-time").hide();
                timer = clearInterval(timer);
                return;
            }


            total_lines = _data.splice(0, 1);
            total_run_ids = _data.splice(0, 1);

            accumulations = _data;

            max_coverage_lines = accumulations[accumulations.length - 1][1];
            max_percentage = max_coverage_lines / total_lines;

            var run_ids = get_run_ids_by_slider_pos(slider_pos);
            speed_up = (total_run_ids / run_ids).toFixed(2);
            cutoff = run_ids;
            get_some();

            // output
            $("#total-lines").text(total_lines);
            $("#max-lines").text(max_coverage_lines);
            $("#max-percent").text((max_percentage * 100).toFixed(2).toString() + "%");
            $("#total-runids").text(total_run_ids);

            $("#run-ids").text(run_ids);
            var lines = accumulations[run_ids - 1][1]; // shift by one

            $("#lines-covered").text(lines);
            $("#percentage-abs").text((lines / total_lines * 100).toFixed(2).toString() + "%");
            $("#percentage-rel").text(((lines / total_lines) / max_percentage * 100).toFixed(2).toString() + "%");
            $("#speed-up").text(speed_up);
            $("#time-taken").text(format_seconds(elapsed));

            $("#stats").show();
            $("#loading").hide();
            $("#loading-time").hide();

            timer = clearInterval(timer);
            $('#process-btn').prop("disabled", false);
        }).fail(function () {
        $('#process-btn').prop("disabled", false);
        $("#loading").hide();
        $("#loading-time").hide();
        timer = clearInterval(timer);
    });


    });

    function get_some() {
        var run_ids_str = "";
        for (var i=0; i < cutoff; i++){
            run_ids_str += accumulations[i][0];
            run_ids_str += "\n";
        }

        $("#run-ids-textarea").text(run_ids_str)
    }


    $('#ex1').slider({
    formatter: function(value) {
        slider_pos = value;
        var run_ids = get_run_ids_by_slider_pos(slider_pos);
        cutoff = run_ids;
        var line_tuple = accumulations[run_ids - 1];  // shift by one
        var lines = -1;
        if (line_tuple){
            lines = line_tuple[1];
        }

        if (lines >= 0) {
            // output
            $("#run-ids").text(run_ids);
            $("#lines-covered").text(lines);
            $("#percentage-abs").text((lines / total_lines * 100).toFixed(2).toString() + "%");
            $("#percentage-rel").text(((lines / total_lines) / max_percentage * 100).toFixed(2).toString() + "%");
            speed_up = (total_run_ids / run_ids).toFixed(2);
            $("#speed-up").text(speed_up);


            // output runids
            get_some();

            return 'RunIDs: ' + run_ids + ' -> Lines of code: ' + lines;
        }
        else {
            return "RunIDs: NA -> Lines of code: NA";
        }
    }
    });

});


</script>
{% endblock %}
