
.container{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-color: #f2f2f2;
}

.container-header {
    background-color: #ffffff;
    padding-left: 50px;
    padding-top: 17px;
    padding-bottom: 19px;
}

.nbar {
    height: 100%;
}

.inner-container {
    width: 1000px;
    padding: 0;
    min-height: 420px;
    margin: 45px auto 50px;
}

.inner-container-minor {
    margin-top: 90px;
}

.well{
    margin: 0 auto 0;
    border: 1px solid #e6ebef;
    background: #FFFFFF;
    position: relative;
}

.well-minor {
    min-height: 530px;
    padding: 40px 45px
}


.well-sub-0{
    margin-left: auto;
    margin-right: auto;
}

.well-sub-1 {
    position: absolute;
    height: 15px;
    bottom: -16px;
    border-radius: 0 0 4px 4px;
    left: 12px;
    right: 12px;
    background: #f6f6f6;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    z-index: 2;
}
.well-sub-2 {
    position: absolute;
    height: 15px;
    bottom: -31px;
    border-radius: 0 0 4px 4px;
    left: 24px;
    right: 24px;
    background: #f6f6f6;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.form-control {
    font-size: 15px;
}

.main-header {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #484848;
}


.small-text-grey {
    /*font-size: 14px;*/
    font-size: 15px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: -0.2px;
    text-align: left;
    color: #484848;
}
.small-text-grey.light {
    color: #a3a3a3;
}

.small-text-bold {
    font-weight: bold;
    opacity: 0.8;
}

.small-text-important {
    font-weight:bold;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.2px;
    text-align: left;
    color: #ee1c68;
}



#ex1Slider .slider-selection {
	background: #BABABA;
}

.slider-container {
    margin-top: 15px;
}

#loading {
    width: 33px;
    height: 33px;
    background: url('../gif/ajax-loader.gif') no-repeat center center;
}

.stat-area {
    margin-bottom: 15px;
}

.grey-line {
    width: 100%;
    height: 2px;
    border: solid 1px #dadada;
}

.grey-line-thin {
    width: 100%;
    height: 1px;
    background-color: #f2f2f2;
}
